<div class="wrap-select-game">
    <div class="container">
        <div class="enter-game">
            <ul>
            </ul>
        </div>
        <div class="creare-game">
            <ul>
                <li><a id="createGame"> Создать игру</a></li>
            </ul>
        </div>
    </div>
</div>
