<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<% if (pages === "index") {%>

    <% include partials/index %>

<% } else if (pages === "selectGame") {%>

    <% include partials/selectGame %>

<% }  else if(pages === 'game') {%>

    <% include partials/game %>

<% } %>

<% include partials/footer %>


</body>
</html>