<!doctype html>
<html>
<head>
    <title>ChessGame</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="select-games">
<div class="container">
    <div class="enter-game">
        <ul>

        </ul>
    </div>
    <div class="creare-game">
        <ul>
            <li><a id="createGame"> Создать игру</a></li>
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io(),
        personID;

    var creatorSessionID;

    socket.emit('connectServer');

    socket.on('connectServer', function(personSessionID){
        personID = personSessionID;
        console.log(personID);
    });

//    Create new game

    $(document).on('click', '#createGame', function(){
        socket.emit('createGame', personID);
        return false;
    });
    socket.on('createGame', function(personID){
        var creatorID = personID;
        $('.enter-game > ul').append("<li><a class='newGame' data-creatorid="+creatorID+">" + "Game" + "</a></li>")
    });

// Connection to game

    $(document).on('click', '.newGame', function(){
        var creatorID = $(this).attr('data-creatorid');
        console.log(creatorID);
        socket.emit("connectToGame", creatorID);
    });

    socket.on("connectToGame", function(creatorID, personSessionID){

        var creatorID = creatorID;
        var personSessionID = personSessionID;

        if(creatorID === personSessionID || personSessionID === personID) {
            creatorSessionID = creatorID;
            location.href = '/game';
        }

    });


</script>

</body>
</html>