<!doctype html>
<html>
<head>
    <title>ChessGame</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="select-games">
<div class="container">
    <div class="enter-game">
        <ul>
        </ul>
    </div>
    <div class="creare-game">
        <ul>
            <li><a id="createGame"> Создать игру</a></li>
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/socket.js"></script>
<script type="text/javascript">
    socket.emit('selectGame');
    socket.on('selectGame', function(gameMap){
        buildGameList(gameMap);
    });
    socket.on('disconnectServer', function(gameMap){
        $('.enter-game > ul > li').remove();
        buildGameList(gameMap)
    });
    function buildGameList(gameMap){
        for (var key in gameMap){
            var control = true;
            $('.enter-game li').each(function(i){
                var elem = $(this).children().data('creatorid');
                if(gameMap[key] == elem){
                    control = false;
                }
            });
            if (control){
                $('.enter-game > ul').append("<li><a class='newGame' data-creatorid="+gameMap[key]+">" + "Game" + "</a></li>");
            }
        }
    }
</script>
</body>
</html>